<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651983842055-6u24orvglnrksvkqftcfoqn4r88i18kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651983842055-6u24orvglnrksvkqftcfoqn4r88i18kj</string>
	<key>API_KEY</key>
	<string>AIzaSyB9rsglzfM_hFMnT71ejgMYMxku7fh7FWM</string>
	<key>GCM_SENDER_ID</key>
	<string>651983842055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exercise</string>
	<key>PROJECT_ID</key>
	<string>exercise-387ec</string>
	<key>STORAGE_BUCKET</key>
	<string>exercise-387ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651983842055:ios:c27714b6f0a211a3a2b3a2</string>
	<key>DATABASE_URL</key>
	<string>https://exercise-387ec-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>